java/internetBanking/ib-ejb/src/main/resources/wsdl/CentralBankWS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://fel.cvut.cz/x36tjv/ondrepe1/CentralBankWS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CentralBankWS" targetNamespace="http://fel.cvut.cz/x36tjv/ondrepe1/CentralBankWS/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://fel.cvut.cz/x36tjv/ondrepe1/CentralBankWS/">
    
      <xsd:element name="transferRequest">
      	<xsd:complexType>
      	  <xsd:sequence>
      		<xsd:element name="bankFrom" type="xsd:int" minOccurs="1" maxOccurs="1" />
      		<xsd:element name="accountFrom" type="xsd:string" minOccurs="1" maxOccurs="1" />
      		<xsd:element name="bankTo" type="xsd:int" minOccurs="1" maxOccurs="1" />
      		<xsd:element name="accountTo" type="xsd:string" minOccurs="1" maxOccurs="1" />
      		<xsd:element name="amount" type="xsd:decimal" minOccurs="1" maxOccurs="1" />
      		<xsd:element name="currency" type="xsd:string" minOccurs="1" maxOccurs="1" />
      		<xsd:element name="description" type="xsd:string" minOccurs="1" maxOccurs="1" />
      		<xsd:element name="time" type="xsd:dateTime" minOccurs="1" maxOccurs="1" />	
      	  </xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      
      <xsd:element name="transferResponse">
      	<xsd:complexType>
            <xsd:sequence>
                <xsd:element name="result" type="xsd:boolean"  minOccurs="1" maxOccurs="1" />
            </xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="transferRequest">
    <wsdl:part element="tns:transferRequest" name="transferRequest" />
  </wsdl:message>
  <wsdl:message name="transferResponse">
    <wsdl:part element="tns:transferResponse" name="transferResponse" />
  </wsdl:message>
  <wsdl:portType name="CentralBankWS">
    <wsdl:operation name="transfer">
      <wsdl:input message="tns:transferRequest"/>
      <wsdl:output message="tns:transferResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CentralBankWSSOAP" type="tns:CentralBankWS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="transfer">
      <soap:operation soapAction="http://fel.cvut.cz/x36tjv/ondrepe1/CentralBankWS/transfer"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CentralBankWS">
    <wsdl:port binding="tns:CentralBankWSSOAP" name="CentralBankWSSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
